@rendermode InteractiveServer
@namespace FluentTestamente.Components
@using FluentTestamente.Models
@using Syncfusion.Blazor.Charts

<SfAccumulationChart Title="Min arv">
    <AccumulationChartSeriesCollection>
        <AccumulationChartSeries DataSource="@InheritanceShare" XName="Name" YName="Share">
            <AccumulationDataLabelSettings Visible="true" Position="AccumulationLabelPosition.Inside">
                <Template>
                    @{
                        var data = context as AccumulationChartDataPointInfo;
                    }
                    <div class="label-div">
                        <p class="label-percentage-text">
                            @data.Percentage %
                        </p>
                    </div>
                </Template>
            </AccumulationDataLabelSettings>
        </AccumulationChartSeries>
    <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
    <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
    </AccumulationChartSeriesCollection>
</SfAccumulationChart>

@code{
    [Parameter]
    public List<InheritanceShare> InheritanceShare { get; set; } = new();
}



